body {
    font-family: "Nanum Gothic", sans-serif;
}
a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    background-color: greenyellow;
    text-decoration: underline;
}
table tr:nth-child(2) th {
    background-color: #0d47a1;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sun {
    background-color: #bbdefb;
}
.a2 {
    background-color: #e3f2fd;
    height: 100px;
}
.a2, .sun, .sun1{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.month_1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
table {
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
}